/** @format */

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
/* import font family */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page reset */

:root {
  --cyan: hsl(179, 62%, 43%);
  --btn-clr: hsl(71, 73%, 54%);
  --main-bg-clr: hsl(204, 43%, 93%);
  --first-para-clr: hsl(218, 22%, 67%);
}
